# Calling a Plumber API from Python in Jupyter

In this Jupyter note book we call a `plumber` API that is published to Connect.

### Importing Packages

We begin by importing the packages that we are going to need.

In [1]:
import requests
import pandas as pd
import urllib

### Defining and Calling the `crop_yield` Function

Next, we use the `requests` package to define a function that calls the `plumber` API and returns the crop yied for a given year, product, and entity.

In [2]:
def crop_yield(year, product, entity):
    URL = 'https://colorado.rstudio.com/rsc/plumber_crop_yields/crop_yield'
    params = {'.year':str(year), '.product':str(product), '.entity':str(entity)}
    params = urllib.parse.urlencode(params, quote_via=urllib.parse.quote)
    response = requests.get(URL, params=params)
    #df = response.json()
    df = pd.DataFrame(response.json())
    return(df)

Let's test out the function for a specific set of input values.

In [ ]:
#crop_yield(2018, 'soybeans', 'united states') #not working ATM

### Defining and Calling the `data_all` Function

We similarly create a function that grabs all the crop data from the API

In [3]:
def data_all():
    URL = 'https://colorado.rstudio.com/rsc/plumber_crop_yields/data_all'
    response = requests.get(URL)
    df = pd.DataFrame(response.json())
    return(df)

In [4]:
df = data_all()
df

             entity  year      product  crop_yield
0       afghanistan  1961        wheat      1.0220
1       afghanistan  1961         rice      1.5190
2       afghanistan  1961        maize      1.4000
3       afghanistan  1961     soybeans         NaN
4       afghanistan  1961     potatoes      8.6667
...             ...   ...          ...         ...
143820     zimbabwe  2018         peas         NaN
143821     zimbabwe  2018      cassava      4.7705
143822     zimbabwe  2018       barley      5.4894
143823     zimbabwe  2018  cocoa beans         NaN
143824     zimbabwe  2018      bananas      7.8955

[143825 rows x 4 columns]